$yellowish-color: #fda214;
$grey: #bcced9;
$less-dark: #304859;
$more-dark: #152958;
$light-grey: #f2f2f2;
$light-blueish: #7191a5;
$medium-bluish-dark: #6395b8;
$white: #fcfcfc;
$padding: 24px;

$column-gap: 10px;
$border-radius: 50vh;
$container-radius: 12px;
