@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body div.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #152958;
}

body div.container div.form-container {
  background-color: #fcfcfc;
  padding: 24px;
  width: 327px;
  border-radius: 12px;
}

body div.container div.form-container form.game-mode-selection p.title {
  margin-bottom: 11px;
}

body div.container div.form-container form.game-mode-selection div.inputs-field {
  margin-bottom: 24px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

body div.container div.form-container form.game-mode-selection div.inputs-field.theme {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body div.container div.form-container form.game-mode-selection div.inputs-field.players {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body div.container div.form-container form.game-mode-selection div.inputs-field.size {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body div.container div.form-container form.game-mode-selection div.inputs-field div.input input[type="radio"] {
  visibility: hidden;
}

body div.container div.form-container form.game-mode-selection div.inputs-field div.input input[type="radio"] + label.input-label {
  display: inline-block;
  padding: 0.7em 0.7em;
  background: #7191a5;
  width: 100%;
  text-align: center;
  color: #fcfcfc;
  border-radius: 50vh;
}

body div.container div.form-container form.game-mode-selection div.inputs-field div.input input[type="radio"]:checked + label.input-label {
  background-color: #152958;
}

body div.container div.form-container form.game-mode-selection div.input-container button.btn {
  font-size: 1em;
  width: 100%;
  display: block;
  padding: 0.9em;
  background-color: #fda214;
  color: #fcfcfc;
  border-radius: 50vh;
}

body div.container-game {
  height: 100vh;
  width: 100vw;
}

body div.container-game div.game-screen {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
}

body div.container-game div.game-screen nav.navigation {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.container-game div.game-screen nav.navigation button.menu-btn {
  padding: 0.7em 24px;
  background-color: #fda214;
  color: #fcfcfc;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 50vh;
}

body div.container-game div.game-screen section.game-board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.container-game div.game-screen section.game-board-container div.board {
  padding: 0 24px;
}

body div.container-game div.game-screen section.game-board-container div.board div.row {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  padding: 5px 0;
}

body div.container-game div.game-screen section.game-board-container div.board div.row button {
  font-size: 24px;
  font-weight: bold;
}

body div.container-game div.game-screen section.game-board-container div.board.grid6x6 div.row {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

body div.container-game div.game-screen section.game-board-container div.board.grid6x6 div.row button.entry {
  height: 72.53px;
  width: 72.53px;
  border-radius: 50vw;
  background: #152958;
  color: #fff;
}

body div.container-game div.game-screen section.game-board-container div.board.grid6x6 div.row button.entry.matched {
  background: red !important;
}

body div.container-game div.game-screen section.game-board-container div.board.grid4x4 div.row {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

body div.container-game div.game-screen section.game-board-container div.board.grid4x4 div.row button.entry {
  height: 72.53px;
  width: 72.53px;
  border-radius: 50vw;
  background: #152958;
  color: #fff;
}

body div.container-game div.game-screen section.game-board-container div.board.grid4x4 div.row button.entry.matched {
  background: red !important;
}

body div.container-game div.game-screen footer.footer {
  padding: 24px;
}

body div.container-game div.game-screen footer.footer div.solo-player {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

body div.container-game div.game-screen footer.footer div.solo-player div.time {
  padding: 24px 0;
  border-radius: 12px;
  background-color: #bcced9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.container-game div.game-screen footer.footer div.solo-player div.time p {
  margin-bottom: 5px;
}
/*# sourceMappingURL=index.css.map */